<v-dialog
    ref="datePickerDialog"
    persistent
    width="300px"
    :return-value.sync="value"
    v-model="dialog"
>
    <template v-slot:activator="{ on }">
        <v-text-field
            :append-icon="appendIcon"
            :append-outer-icon="appendOuterIcon"
            :background-color="backgroundColor"
            :clearable="clearable"
            :dense="dense"
            :disabled="disabled"
            :height="height"
            :hide-details="hideDetails"
            :label="label"
            :outlined="outlined"
            :prepend-icon="prependIcon"
            :prepend-inner-icon="prependInnerIcon"
            :readonly="readonly"
            :rules="rules"
            :class="validationClass"
            v-on="on"
            @click:append="dialog = true;"
            @click:append-outer="dialog = true;"
            @click:prepend="dialog = true;"
            @click:prepend-inner="dialog = true;"
            @click:clear="value = ''; save();"
            v-model="value"
        ></v-text-field>
    </template>
    <v-date-picker
        ref="datePicker"
        :locale="locale"
        :type="type"
        :day-format="dayFormat"
        :max.sync="max"
        :min.sync="min"
        v-model="value"
    >
        <v-spacer></v-spacer>
        <v-btn
            class="primary"
            @click="save();"
        >확인</v-btn>
        <v-btn
            class="secondary"
            @click="dialog = false;"
        >취소</v-btn>
    </v-date-picker>
</v-dialog>