<div class="mypage-wrap">
    <div style="margin-left:70px; margin-right: 70px;">
		<h2 class="tit" style="margin-bottom: 30px;">{{data.classRoom.id ? '강의실 수정' : '강의실 등록'}}</h2>
	    <el-row>
	        <el-col :span="6">
	            <div class="content file-cont">
	                <input type="file" ref="thumbnail" accept="image/*" style="display:none;" @change="thumbFile($event);" />
	                <img :src="data.classRoom.thumbnailSrc" alt="">
	            </div>
	            <div class="content" style="text-align: right; display: flow-root;">
	                <button type="button" class="main-btn" @click="fileClear('reset')">이미지 초기화</button>
                    <button type="button" class="main-btn" @click="$refs.thumbnail.click();">이미지 변경</button>
                </div>
	        </el-col>
	    </el-row>
	    <el-divider content-position="left">강의실 정보</el-divider>
	    <el-row>
	       <el-col :span="12">
	           <el-row style="padding: 15px;">
					<el-col :span="3">
					    <font style=" font-weight: inherit;">유형</font>
					</el-col>
					<el-col :span="10">
						<el-radio v-model="data.classRoom.type" label="R">실시간</el-radio>
						<el-radio v-model="data.classRoom.type" label="N">일반</el-radio>
					</el-col>
	           </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="3">
                        <font style=" font-weight: inherit;">카테고리</font>
                    </el-col>
                    <el-col :span="7">
                        <el-select v-model="data.classRoom.categoryId" placeholder="과목 선택">
                            <el-option
                              v-for="item in data.categoryList"
                              :key="item.id"
                              :label="item.text"
                              :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="6" v-if="data.classRoom.categoryId === 23">
                        <el-input
                          placeholder="기타 항목"
                          v-model="data.classRoom.etc"
                          clearable>
                        </el-input>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="3">
                        <font style=" font-weight: inherit;">강의명</font>
                    </el-col>
                    <el-col :span="13">
                        <el-input
                          placeholder="강의명"
                          v-model="data.classRoom.title"
                          clearable>
                        </el-input>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="3">
                        <font style=" font-weight: inherit;">최대 인원</font>
                    </el-col>
                    <el-col :span="7">
                        <el-select v-model="data.classRoom.memberNum" placeholder="수강 최대 인원수">
                            <el-option
                              v-for="i in data.numberList"
                              :key="i"
                              :label="i+'명'"
                              :value="i">
                            </el-option>
                        </el-select>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="3">
                        <font style=" font-weight: inherit;">공개 유형</font>
                    </el-col>
                    <el-col :span="7">
                        <el-radio v-model="data.classRoom.openType" label="O">공개</el-radio>
                        <el-radio v-model="data.classRoom.openType" label="C">비공개</el-radio>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;" v-if="data.classRoom.openType === 'C'">
                    <el-col :span="3">
                        <font style=" font-weight: inherit;">비밀번호</font>
                    </el-col>
                    <el-col :span="5">
                        <el-input
                          placeholder="4자리 숫자입력"
                          v-model="data.classRoom.enterCode"
                          show-password
                          maxlength="4"
                          clearable>
                        </el-input>
                        <font style="font-size: small;">*4자리 숫자입력바랍니다.</font>
                    </el-col>
               </el-row>
	       </el-col>
           <el-col :span="12" v-if="data.classRoom.type === 'R'">
               <el-row style="padding: 15px;">
                    <el-col :span="4">
                        <font style=" font-weight: inherit;">예상 날짜</font>
                    </el-col>
                    <el-col :span="10">
						<el-date-picker
						  v-model="data.classTime.date"
						  value-format = "yyyyMMdd"
						  type="date"
						  placeholder="날짜 선택">
						</el-date-picker>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="4">
                        <font style=" font-weight: inherit;">예상 시작시간</font>
                    </el-col>
                    <el-col :span="7">
						<el-time-select
						  placeholder="시작 시간"
						  v-model="data.classTime.startTime"
						  :picker-options="{
						    start: '06:00',
						    step: '00:15',
						    end: '24:00'
						  }">
						</el-time-select>
                    </el-col>
               </el-row>
               <el-row style="padding: 15px;">
                    <el-col :span="4">
                        <font style=" font-weight: inherit;">예상 시작시간</font>
                    </el-col>
                    <el-col :span="7">
                        <el-time-select
                          placeholder="종료 시간"
                          v-model="data.classTime.endTime"
                          :picker-options="{
                            start: '06:00',
                            step: '00:15',
                            end: '24:00',
                            minTime: data.classTime.startTime
                          }">
                        </el-time-select>
                    </el-col>
               </el-row>
           </el-col>
	    </el-row>
	    <el-row>
	       <el-col style="text-align: center;">
	           <el-button @click="goList();">취소하기</el-button>
	           <el-button type="primary" plain @click="createClass();">{{data.classRoom.id ? '수정하기' : '등록하기'}}</el-button>
	       </el-col>
	    </el-row>
    </div>

</div>