<div class="liveStreamingApplyWrap" style="margin-top: 100px;">
	<v-row>
		<v-col v-if="noticeList.length > 0 && noticeFlag">
			<template v-if="noticeBoxFlag">
			  <el-alert
			    title="공지사항"
			    type="warning"
			    :description="noticeContent"
			    @close="closeNotice()">
			  </el-alert>
			</template>
		    <template v-else>
  			   <el-button type="warning" icon="el-icon-bell" circle  @click="openNotice()"></el-button>
 				<el-button type="danger" icon="el-icon-delete" circle @click="removeNotice(noticeList[0])"></el-button>
		    </template>
		</v-col>
	</v-row>
	<!-- 채팅 -->
	<div>
		<vue-advanced-chat 
			:height="screenHeight" 
			:current-user-id="currentUserId" 
			:messages-loaded="messagesLoaded"
			:room-id="roomId"
			:rooms = "rooms"
			:rooms-loaded="roomsLoaded"
			:single-room="true"
			:menu-actions="menuActions"
			@menu-action-handler="menuActionHandler"
			@fetch-messages="fetchMessages"
			@send-message="sendMessage"
		    @edit-message="editMessage"
		    @delete-message="deleteMessage"
		    @notice-message="noticeMessage"
            @open-file="openFile"/>
	</div>
	
    <!-- 참여코드기재 팝업 -->
<!-- 	<el-dialog  -->
<!-- 		:title = "enterClassRoom.title" -->
<!-- 		width="30%" -->
<!-- 		:visible.sync="visible.enterCodeVisible" -->
<!--         :close-on-click-modal="false" -->
<!--         :close-on-press-escape="false"> -->
<!-- 		<v-row> -->
<!-- 	       	<v-col style="align-self: center;"> -->
<!-- 	       		<div style="text-align:center;"> -->
<!-- 		        	<font>초대코드가 필요합니다.<p>🔑초대코드를 입력해주세요🔑</font><p> -->
<!-- 		  			<el-input  -->
<!-- 			  			style="border-bottom: double; inline-size: max-content;"  -->
<!-- 			  			placeholder="8자리 코드를 입력해주세요"  -->
<!-- 			  			maxlength="8"  -->
<!-- 			  			v-model="codeCk"  -->
<!-- 			  			show-password> -->
<!-- 		  			</el-input> -->
<!-- 				</div> -->
<!-- 	       	</v-col> -->
<!-- 		</v-row> -->
<!-- 	  <span slot="footer" class="dialog-footer"> -->
<!-- 	    <el-button @click="visible.enterCodeVisible = false">취소</el-button> -->
<!-- 	    <el-button type="primary" @click="enterChat();">확인</el-button> -->
<!-- 	  </span> -->
<!-- 	</el-dialog> -->
	
	<!-- 그룹채팅방 내 프로필사진 클릭 시, 뜨는 팝업 -->
	<div class="infoFormWrap">
		<el-dialog 
			title="프로필보기" 
			:visible.sync="store.state.app.chatProfile.flag"
			class="signUpWrap">
			<div class="contents">
                <div class="profileUpload">
	                <img
	                    :src="data.other.profile"
	                    alt="프로필 이미지"
	                />
                </div>
				<div class="nicknameBoxGroup" style="padding-top: 20px;text-align: center;">
					<font style="font-size: large;" >{{data.other.nickname}}</font>
				</div>
			</div>
			<div class="btnWrap">
				<template v-if="data.other.id !== currentUserId" >
					<button type="button" style="margin:0px" @click="userChat(data.other.id, data.other.nickname)">1:1 채팅하기</button>
				</template>
				<template v-else>
					<button type="button" style="margin:0px" @click="goMyPage()">마이페이지</button>
				</template>
			</div>
		</el-dialog>
		
		<!-- 친구 목록 드로어 -->
		<el-drawer
		  title="친구 목록"
		  :visible.sync="visible.userList"
		  direction="rtl">
		  <template>
			<v-simple-table dense fixed-header>
				<template v-slot:default >
					<thead>
						<tr>
							<th colspan="2" style="text-align: center;" scope="row">닉네임</th>
						</tr>
					</thead>
					<tbody>
						<tr
							v-for="(user, i) in room.users"
							:key="user._id"
						>
							<td style="text-align: right;" @click="showProfile(user._id)"><el-avatar size="small" :src="user.avatar"></el-avatar></td>
							<td>{{room.createdBy === user._id ? "👑 "+user.username : user.username}}</td>
							<td style="text-align: center;"><el-button v-if="user._id !== currentUserId" size="mini" @click="userChat(user._id, user.username)" >1:1채팅하기</el-button></td>
						</tr>
					</tbody>
				</template>
			</v-simple-table>
		  </template>
		</el-drawer>
	</div>
</div>			