<div class="zclassWrap zclassMain">
    <div class="newMypageWrap modifyWrap">
        <h2>안녕하세요, <span class="type">멘토 </span> <span class="name">{{ data.user.name }}</span>님!</h2>
        <div class="colGroup mypageGroup">
            <div class="leftGroup">
	            <div class="infoBox">
	                <a class="profileBg" >
	                    <img class="profileImg" :src="data.user.profileSrc" alt="프로필 이미지" @click="setProfile();" style="width: 105px; height: 105px;  border-radius: 105px;"/>
	                </a>
	                <div>
	                    <h3>소개</h3>
	        		    <el-input type="textarea" v-model="data.user.introduceContent" maxlength="16777215"/>
	               </div>
	               <div style="padding-top:10px;">
	                    <h3>개인정보</h3>
                        <p>이메일: {{ data.user.username }}</p>
                        <p>성별: {{ data.user.gender }}</p>
                        <p>나이: {{ data.user.age }}</p>
                        <!-- <p>{{ data.user.phoneNum }}</p> -->
	               </div>
	               <div>
	                   <a @click="modifyUser()">수정완료</a>
	               </div>
	               <!--<div class="mymembershipGroup">
	                  <div class="colGroup">
	                     <h3>멤버십</h3>
	                     <h4><span><img src="/resource/images/z_ico.svg" alt="" /></span> 미보유</h4>
	                  </div>
	                  <a href="/memberships"> <span>멤버십 보러가기 <img src="/resource/images/arrow_white_right.svg" alt="" /></span></a>
	               </div>-->
                </div>
                <button class="logout" @click="logout();">로그아웃</button>
            </div>
        <div class="rightGroup">
            <div>
      			<h3>기본 회원 정보</h3>
                <div class="colGroup">
                	<h4>이름</h4>
        			<h5>{{ data.user.name }}</h5>
                </div>
                <div class="colGroup">
                	<h4>이메일</h4>
        			<h5>{{ data.user.username }}</h5>
                </div>
      			<div class="colGroup">
                	<h4>비빌번호</h4>
                	<template v-if="data.user.signUpWay === 'G' || data.user.signUpWay === 'K'">
                		<a>변경불가</a>
                	</template>
                	<template v-else>
	        			<a @click="changePwdDialog();">변경하기</a>
                	</template>
                </div>
      			<div class="colGroup">
                  <h4>연동된 sns계정</h4>
                  <template v-if="data.user.signUpWay == 'G'">
                  	<h5>Google</h5>
                  </template>
                  <template v-else-if="data.user.signUpWay == 'K'">
                  	<h5>카카오톡</h5>
                  </template>
                  <template v-else>
                    <h5>없음</h5>
                  </template>
               </div>
            </div>
        <button class="exitbtn" @click="removeUser();">회원탈퇴</button>
        </div>
        </div>
    </div>
   
    <!-- 비밀번호 수정 popup -->
    <div class="infoFormWrap">
        <el-dialog
          title=""
          :visible.sync="visible.pwEditdialogVisible"
          class="signUpWrap pwEditWrap"
        >
            <div class="contents">
                <h4>비밀번호 수정</h4>
                <form action="">
                    <div class="boxGroup">
                        <div class="pwBox addressBox">
                            <label for="pwNow">현재 비밀번호</label>
                            <input id="pwNow" type="password" v-model="data.modifyUser.password" @blur="validateChk('pwd');" :class="{validationMark: !flag.pwdFlag}"/>
                        </div>
                        <p :show="!flag.pwdFlag" class="validationMessage">{{ flag.pwdText }}</p>
                    </div>
                    <div class="boxGroup">
                        <div class="pwBox">
                            <label for="pwNew">변경 비밀번호</label>
                            <input id="pwNew" type="password" maxlength="16" v-model="data.modifyUser.newPassword" @blur="validateChk('newPwd');" :class="{validationMark: !flag.newPwdFlag}"/>
                        </div>
                        <p :show="!flag.newPwdFlag" class="validationMessage">{{ flag.newPwdText }}</p>
                    </div>
                    <div class="boxGroup">
                        <div class="pwBox">
                            <label for="pwNewChk">변경 비밀번호 확인</label>
                            <input id="pwNewChk" type="password" maxlength="16" v-model="data.modifyUser.newPasswordCk" @blur="validateChk('newPwdCk');" :class="{validationMark: !flag.newPwdCkFlag}"/>
                        </div>
                        <p :show="!flag.newPwdCkFlag" class="validationMessage">{{ flag.newPwdCkText }}</p>
                    </div>
                </form>
            </div>
            <div class="btnWrap">
                <button type="button" @click="changePwd();">완료하기</button>
                <button type="button" @click="visible.pwEditdialogVisible = false">취소하기</button>
            </div>
        </el-dialog>
	    <el-dialog
	        title=""
	        :visible.sync="visible.profileEditdialogVisible"
	        class="signUpWrap profileEditWrap"
	        :close-on-click-modal="false"
	        :close-on-press-escape="false"
	    >
	        <div class="contents">
	            <h4>프로필 수정</h4>
	            <div class="profileUpload" :class="{ active: profileUploaded }" @click="profileUploaded = !profileUploaded" >
	                <input type="file" v-model="data.modifyUser.profile" id="profileFile" ref="profileFile"
	                        accept="image/*" style="display:none;" @change="thumbFile($event);" />
	                <label @click="visible.profileVisible = true;">
	                    <img
	                        :src="data.modifyUser.profileSrc"
	                        alt="프로필 이미지"
	                    />
	                    <span></span>
	                </label>
	            </div>
	            <div class="nicknameBoxGroup">
	                <div class="nicknameBox">
	                    <label for="nickname"></label>
	                    <template v-if="data.roleId === 3">
	                        <input type="text" name="nickname" v-model="data.modifyUser.nickname" maxlength="5" @blur="validateChk('nickname');" @keydown="validateChk('nickname');" :class="{validationMark: !flag.nicknameFlag}" placeholder="닉네임을 입력해주세요" id="nickname">
	                    </template>
	                    <template v-else>
	                        <input type="text" name="nickname" v-model="data.modifyUser.nickname" :placeholder="data.modifyUser.nickname" readonly id="nickname">
	                    </template>
	                </div>
                    <p style="text-align: center; font-size: small;">⚠️5자까지 입력가능합니다.</p>
	                <p :show="!flag.nicknameFlag" class="validationMessage">{{ flag.nicknameText }}</p>
	            </div>
	        </div>
	        <div class="btnWrap">
	            <button type="button" @click="modifyProfile();">완료하기</button>
	            <button type="button" @click="visible.profileEditdialogVisible = false">취소하기</button>
	        </div>
	    </el-dialog>
	
	    <!-- 프로필 삭제/업로드 -->
	    <div class="profile">
	        <el-dialog
	            title=""
	            :visible.sync="visible.profileVisible"
	            class="signUpWrap profileVisibleWrap"
	        >
	            <div class="contents">
	                <ul class="typeBox">
	                    <li @click="$refs.profileFile.click(); visible.profileVisible = false">사진 선택하기</li>
	                    <li @click="removeImg();">사진 삭제하기</li>
	                </ul>
	            </div>
	        </el-dialog>
	    </div>
    </div>
</div>