<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.EnterUserMapper">

    <sql id="selectFrom">
        SELECT
            `enter_user`.`id`,
            `enter_user`.`classroom_id`,
            `enter_user`.`type`,
            `enter_user`.`name`,
            `enter_user`.`grade`,
            `enter_user`.`email`,
            `enter_user`.`phone_num`,
            `enter_user`.`created_date`
        FROM
            `tb_enter_user` `enter_user`
    </sql>

    <sql id="where">
        <where>
            <if test="enterUserParamDto.id != null and enterUserParamDto.id !=''">
                AND `enter_user`.`id` = #{enterUserParamDto.id}
            </if>
            <if test="enterUserParamDto.classroomId != null and enterUserParamDto.classroomId !=''">
                AND `enter_user`.`classroom_id` = #{enterUserParamDto.classroomId}
            </if>
            <if test="enterUserParamDto.type != null and enterUserParamDto.type !=''">
                AND `enter_user`.`type` = #{enterUserParamDto.type}
            </if>
            <if test="enterUserParamDto.grade != null and enterUserParamDto.grade !=''">
                AND `enter_user`.`grade` = #{enterUserParamDto.grade}
            </if>
        </where>
    </sql>

    <resultMap id="enterUserResultMap" type="kr.supporti.api.common.entity.EnterUserEntity">
        <result property="id" column="id"/>
        <result property="classroomId" column="classroom_id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="grade" column="grade"/>
        <result property="email" column="email"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select
        id="selectEnterUserList"
        parameterType="java.util.Map"
        resultMap="enterUserResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectEnterUserListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectEnterUser"
        parameterType="java.util.Map"
        resultMap="enterUserResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `enter_user`.`id` = #{id}
    </select>

    <select
        id="selectGuestExists"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        WHERE
            `enter_user`.`id` = #{enterUserParamDto.id}
        <include refid="PageFragment.countEnd"/>
    </select>
</mapper>