<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.RegularPaymentHistoryMapper">

    <select
        id="selectRegularPaymentHistoryListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        SELECT
            `regular_payment_history`.`id`
        FROM
            tb_regular_payment_history `regular_payment_history`
        WHERE
            `regular_payment_history`.`payment_history_id` = #{regularPaymentHistoryParamDto.paymentHistoryId}
        AND
            DATE_FORMAT(`regular_payment_history`.`payment_date`, '%Y-%m') = #{regularPaymentHistoryParamDto.paymentDateMonth}
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectMaxNumberByPaymentHistoryId"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        SELECT
            IFNULL(MAX(number), 0)
        FROM
            tb_regular_payment_history `regular_payment_history`
        WHERE
            `regular_payment_history`.`payment_history_id` = #{paymentHistoryId}
    </select>

    <insert
        id="insertRegularPaymentByKakao"
        parameterType="java.util.Map"
    >
        INSERT INTO tb_regular_payment_history (
            payment_history_id,
            payment_date,
            number,
            kakao_tid,
            kakao_sid,
            created_date
        ) VALUES (
            #{paymentHistoryId},
            now(),
            (SELECT If(MAX(`payment_history`.`number`) IS NULL, 0, `payment_history`.`number`) + 1
                FROM tb_regular_payment_history AS `payment_history` WHERE `payment_history`.`payment_history_id` = #{paymentHistoryId}),
            #{kakaoTid},
            #{kakaoSid},
            now()
        )
    </insert>

    <insert
        id="insertRegularPaymentByToss"
        parameterType="java.util.Map"
    >
        INSERT INTO tb_regular_payment_history (
            payment_history_id,
            payment_date,
            number,
            toss_payment_key,
            created_date
        ) VALUES (
            #{paymentHistoryId},
            now(),
            (SELECT If(MAX(`payment_history`.`number`) IS NULL, 0, `payment_history`.`number`) + 1
                FROM tb_regular_payment_history AS `payment_history` WHERE `payment_history`.`payment_history_id` = #{paymentHistoryId}),
            #{paymentKey},
            now()
        )
    </insert>

</mapper>