<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>강사별 학생 리스트</h1>
        </v-col>
    </v-row>
    <v-row dense>
        <v-col cols="12" sm="6">
            <v-card>
                <v-card-title style="display: list-item">
                    <div style="float: left;">강사 리스트</div>
                </v-card-title>
                <v-card-title>
                    <v-col cols="8" sm="4">
                        <v-text-field
                            autocomplete="off"
                            dense
                            label="이름"
                            validate-on-blur
                            hide-details="auto"
                            v-model="data.query.name"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="4" sm="4">
                        <v-btn>검색</v-btn>
                    </v-col>
                </v-card-title>
                <v-card-text>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="row">이름</th>
                                        <th class="text-center" scope="row">아이디</th>
                                        <th class="text-center" scope="row">휴대폰 번호</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, i) in data.userList"
                                        :key="item.id"
                                        class="cursor--pointer"
                                        @click="clickStudentList(item.id)"
                                    >
                                        <td class="text-center">{{item.name}}</td>
                                        <td class="text-center">{{item.username}}</td>
                                        <td class="text-center">{{item.phoneNum}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12" sm="6">
            <v-card>
                <v-card-title>해당 강사 학생 리스트</v-card-title>
                <v-card-text>
                    <div v-if="data.student.studentList == 0">
                        <span> 등록된 학생 정보가 없습니다. </span>
                    </div>
                    <div style="max-height: 400px; overflow-y: auto;" v-else>
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="row">이름</th>
                                        <th class="text-center" scope="row">이메일</th>
                                        <th class="text-center" scope="row">나이</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, i) in data.student.studentList"
                                        :key="item.id"
                                        class="cursor--pointer"
                                        @click="studentPopup(item.id)"
                                    >
                                        <td class="text-center">{{item.name}}</td>
                                        <td class="text-center">{{item.email}}</td>
                                        <td class="text-center">{{item.studentCode}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
                            <div class="mt-3">
                                <v-dialog
                                  v-model="flag.studentDetailPopup"
                                  max-width="570"
                                  persistent
                                >
                                    <v-card style="background-color: #f8f8f8; height: 450px; border-radius: 15px;" class="pa-5">
                                        <div class="text-right">
                                            <v-icon @click="flag.studentDetailPopup = false;">mdi-close</v-icon>
                                        </div>
                                        <v-card-title>
                                            <div class="text-left">
                                                학생 <p style="display: inline !important; color: blue">{{data.student.studentInfo.name}} </p>님의 프로필
                                            </div>
                                        </v-card-title>
						                <v-card-text>
						                    <div class="pa-2">
						                        <span> 이름: </span>
						                        <span class="pl-2"> {{data.student.studentInfo.name}} </span>
						                    </div>
                                            <div class="pa-2">
                                                <span> 이메일: </span>
                                                <span class="pl-2"> {{data.student.studentInfo.email}} </span>
                                            </div>
                                            <div class="pa-2">
                                                <span> 나이: </span>
                                                <span class="pl-2"> {{data.student.studentInfo.studentCode}} </span>
                                            </div>
                                            <div class="pa-2">
                                                <span> 성별: </span>
                                                <span class="pl-2"> {{data.student.studentInfo.gender}} </span>
                                            </div>
                                            <div class="pa-2">
                                                <span> 핸드폰 번호: </span>
                                                <span class="pl-2"> {{data.student.studentInfo.phoneNum}} </span>
                                            </div>
<!-- 						                    <div style="max-height: 400px; overflow-y: auto;">
						                        <v-simple-table dense>
						                            <template v-slot:default>
						                                <thead>
						                                    <tr>
						                                        <th class="text-center" scope="row">강의명</th>
						                                        <th class="text-center" scope="row">강의 유형</th>
						                                        <th class="text-center" scope="row">시작일</th>
						                                        <th class="text-center" scope="row">종료일</th>
						                                    </tr>
						                                </thead>
						                                <tbody>
						                                    <tr
						                                        class="cursor--pointer"
						                                    >
						                                        <td class="text-center">{{data.student.studentInfo.lectureName}}</td>
						                                        <td class="text-center">{{data.student.studentInfo.lectureType}}</td>
						                                        <td class="text-center">{{data.student.studentInfo.startDate}}</td>
						                                        <td class="text-center">{{data.student.studentInfo.endDate}}</td>
						                                    </tr>
						                                </tbody>
						                            </template>
						                        </v-simple-table>
						                    </div> -->
						                </v-card-text>
                                    </v-card>
                                </v-dialog>
                            </div>
</div>