<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>결제 및 취소관리</h1>
        </v-col>
    </v-row>
    <v-row dense>
        <v-col cols="12">
            <v-tabs class="mt-10"  v-model="tab" mobile-breakpoint="0">
                <v-tab key="0">결제</v-tab>
                <v-tab key="1">취소요청</v-tab>
                <v-tab key="2">환불</v-tab>
            </v-tabs>
            <v-tabs-items v-model="tab">
                <v-tab-item key="0">
                    <v-row dense style="height: 800px;">
                        <v-col cols="12">
                            <data-table-custom-component
                              dense
                              remove-hide
                              :headers="payment.dataTable.table.headers"
                              :items="payment.dataTable.table.items"
                              :totalRows="payment.dataTable.table.totalRows"
                              @reload="paymentList"
                              :loading="payment.dataTable.table.loading"
                              :page="payment.dataTable.table.page"
                              :items-per-page="payment.dataTable.table.itemsPerPage"
                              download-hide
                              add-hide
                              @click:row="clickPayment($event)"
                              remove-hide
                              upload-hide
                            ></data-table-custom-component>
                        </v-col>
<!--                         <v-col cols="12" sm="4" v-show="data.payment.id"> -->
<!--                             <v-card class="pa-3 mt-4"> -->
<!--                                 <v-card-title>결제 상세</v-card-title> -->
<!--                                 <v-card-text> -->
<!--                                     <v-row dense> -->
<!--                                         <v-col cols="4"> -->
<!--                                             <p class="font-weight-bold subtitle-1 mb-1">결제요청자</p> -->
<!--                                             <p>{{data.payment.requestLecturerNm}}</p> -->
<!--                                         </v-col> -->
<!--                                         <v-col cols="4"> -->
<!--                                             <p class="font-weight-bold subtitle-1 mb-1">결제자</p> -->
<!--                                             <p>{{data.payment.paymentUserNm}}</p> -->
<!--                                         </v-col> -->
<!--                                         <v-col cols="4"> -->
<!--                                             <p class="font-weight-bold subtitle-1 mb-1">결제금액</p> -->
<!--                                             <p>{{numeral(data.payment.amount).format(0,0) + '원'}}</p> -->
<!--                                         </v-col> -->
<!--                                         <v-col cols="6"> -->
<!--                                             <p class="font-weight-bold subtitle-1 mb-1">결제일자</p> -->
<!--                                             <p>{{data.payment.lastPaymentDate}}</p> -->
<!--                                         </v-col> -->
<!--                                         <v-col cols="6"> -->
<!--                                             <p class="font-weight-bold subtitle-1 mb-1">결제수단</p> -->
<!--                                             <td class="text-center">{{(data.payment.paymentDiv == 'K')? '카카오' : '토스'}}</td> -->
<!--                                         </v-col> -->
<!--                                     </v-row> -->
<!--                                 </v-card-text> -->
<!--                             </v-card> -->
<!--                         </v-col> -->
                    </v-row>
                </v-tab-item>
                <v-tab-item key="1">
                    <v-row dense style="height: 800px;">
                        <v-col cols="12" sm="8">
                            <data-table-custom-component
                              dense
                              remove-hide
                              :headers="cancelPayment.dataTable.table.headers"
                              :items="cancelPayment.dataTable.table.items"
                              :totalRows="cancelPayment.dataTable.table.totalRows"
                              @reload="cancelPaymentList"
                              :loading="cancelPayment.dataTable.table.loading"
                              :page="cancelPayment.dataTable.table.page"
                              :items-per-page="cancelPayment.dataTable.table.itemsPerPage"
                              download-hide
                              add-hide
                              @click:row="clickCancelPayment($event)"
                              remove-hide
                              upload-hide
                            ></data-table-custom-component>
                        </v-col>
                        <v-col cols="12" sm="4" v-show="data.cancelPayment.id">
                            <v-card class="pa-3 mt-4">
                                <v-card-title>결제 상세</v-card-title>
                                <v-card-text>
                                    <v-row dense>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제요청자</p>
                                            <p>{{data.cancelPayment.requestLecturerNm}}</p>
                                        </v-col>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제자</p>
                                            <p>{{data.cancelPayment.paymentUserNm}}</p>
                                        </v-col>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제금액</p>
                                            <p>{{numeral(data.cancelPayment.amount).format(0,0) + '원'}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제일자</p>
                                            <p>{{data.cancelPayment.lastPaymentDate}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제수단</p>
                                            <td class="text-center">{{(data.cancelPayment.paymentDiv == 'K')? '카카오' : '토스'}}</td>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소요청일자</p>
                                            <p>{{data.cancelPayment.cancelRequestDate}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소승인일자</p>
                                            <p>{{data.cancelPayment.cancelApprovalDate}}</p>
                                        </v-col>
                                        <template v-if="data.cancelPayment.paymentDiv == 'T' && data.cancelPayment.paymentMethodCd == 'PM02'">
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">사용자이름</p>
                                                <p>{{data.cancelPayment.refundUserNm}}</p>
                                            </v-col>
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">환불 은행</p>
                                                <p>{{data.cancelPayment.refundBankNm}}</p>
                                            </v-col>
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">환불 계좌번호</p>
                                                <p>{{data.cancelPayment.refundAccountNum}}</p>
                                            </v-col>
                                        </template>
                                        <v-col cols="12">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소사유</p>
                                            <p>{{data.cancelPayment.cancelReason}}</p>
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col cols="12" class="text-right">
                                            <v-btn
                                                color="secondary"
                                                @click="cancelPayment"
                                            >결제취소</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-tab-item>
                <v-tab-item key="2">
                    <v-row dense style="height: 800px;">
                        <v-col cols="12" sm="8">
                            <data-table-custom-component
                              dense
                              remove-hide
                              :headers="refundPayment.dataTable.table.headers"
                              :items="refundPayment.dataTable.table.items"
                              :totalRows="refundPayment.dataTable.table.totalRows"
                              @reload="refundPaymentList"
                              :loading="refundPayment.dataTable.table.loading"
                              :page="refundPayment.dataTable.table.page"
                              :items-per-page="refundPayment.dataTable.table.itemsPerPage"
                              download-hide
                              add-hide
                              @click:row="clickRefundPayment($event)"
                              remove-hide
                              upload-hide
                            ></data-table-custom-component>
                        </v-col>
                        <v-col cols="12" sm="4" v-show="data.refundPayment.id">
                            <v-card class="pa-3 mt-4">
                                <v-card-title>결제 상세</v-card-title>
                                <v-card-text>
                                    <v-row dense>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제요청자</p>
                                            <p>{{data.refundPayment.requestLecturerNm}}</p>
                                        </v-col>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제자</p>
                                            <p>{{data.refundPayment.paymentUserNm}}</p>
                                        </v-col>
                                        <v-col cols="4">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제금액</p>
                                            <p>{{numeral(data.refundPayment.amount).format(0,0) + '원'}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제일자</p>
                                            <p>{{data.refundPayment.lastPaymentDate}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">결제수단</p>
                                            <td class="text-center">{{(data.refundPayment.paymentDiv == 'K')? '카카오' : '토스'}}</td>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소요청일자</p>
                                            <p>{{data.refundPayment.cancelRequestDate}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소승인일자</p>
                                            <p>{{data.refundPayment.cancelApprovalDate}}</p>
                                        </v-col>
                                        <template v-if="data.cancelPayment.paymentDiv == 'T' && data.cancelPayment.paymentMethodCd == 'PM02'">
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">사용자이름</p>
                                                <p>{{data.refundPayment.refundUserNm}}</p>
                                            </v-col>
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">환불 은행</p>
                                                <p>{{data.refundPayment.refundBankNm}}</p>
                                            </v-col>
                                            <v-col cols="4">
                                                <p class="font-weight-bold subtitle-1 mb-1">환불 계좌번호</p>
                                                <p>{{data.refundPayment.refundAccountNum}}</p>
                                            </v-col>
                                        </template>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">환불완료일자</p>
                                            <p>{{data.refundPayment.refundDate}}</p>
                                        </v-col>
                                        <v-col cols="6">
                                            <p class="font-weight-bold subtitle-1 mb-1">환불처리자</p>
                                            <p>{{data.refundPayment.refundProcessNm}}</p>
                                        </v-col>
                                        <v-col cols="12">
                                            <p class="font-weight-bold subtitle-1 mb-1">취소사유</p>
                                            <p>{{data.refundPayment.cancelReason}}</p>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-tab-item>
            </v-tabs-items>
        </v-col>
    </v-row>
</div>