<div class="liveStreamingApplyWrap">
    <div class="container_z">
        <h3 style="padding-bottom:15px;">본인이 좋아하는 음료를 골라 담아주세요.</h3>
        
		<template>
			<el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Check all</el-checkbox>
			<div style="margin: 15px 0;"></div>
			<el-checkbox-group v-model="checkedDrink" @change="handleCheckedDrinkChange">
			  <el-checkbox v-for="drink in drinkList" :label="drink" :key="drink">{{drink.name}}</el-checkbox>
			</el-checkbox-group>
		</template>
		<v-btn style="margin-top:15px;" block outlined @click="buyDrink()">음료 담기</v-btn>
		<v-row v-if="data.user.id" style="padding-top:100px;">
			<v-col cols="6">
				<h4>{{data.user.nickname}}님의 구매내역</h4>
				<div style="border:1px solid gray; margin-top:10px;">
					<ul>
						<li v-for="item in buyDrinkList">
							{{item.drinkNm}}
						</li>
					</ul>
				</div>
			</v-col>
			<v-col cols="6">
				<h4>{{data.user.nickname}}님에게 추천하는 음료</h4>
				<div style="border:1px solid gray; margin-top:10px">
					<ul>
						<li>
							추천음료 넣을 곳
						</li>
					</ul>
				</div>
			</v-col>
		</v-row>
		<template v-else>
			<div style="padding-bottom:230px"></div>
		</template>
    </div>
</div>