<div>
    <section>
        <v-form ref="form" onsubmit="return false">
            <div>
                <button type="button" @click="visible.en = true;" style="width: 100px; height: 50px; color: white; background-color: rgb(0,128,255); border-radius: 12px;">학부모 등록</button>
                <el-dialog
                    :visible.sync="visible.en"
                    title="학생 등록"
                >
                    <div class="boxGroup">
                        <span style="display: inline !important;">이름: </span>
                        <input id="name" type="text" v-model="data.parents.name" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">휴대폰 번호: </span>
                        <input id="phoneNum" type="text" v-model="data.parents.phoneNum" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">학생 이름: </span>
                        <input id="studentName" type="text" v-model="data.parents.studentName" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <div class="genderBox">
                            <span style="display: inline !important;">강의 유형: </span>
                            <el-radio v-model="data.parents.lectureType" label="O">온라인</el-radio>
                            <el-radio v-model="data.parents.lectureType" label="F">오프라인</el-radio>
                        </div>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">강의 명: </span>
                        <input id="lectureName" type="text" v-model="data.parents.lectureName" @blur="validateChk('lectureName');" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">구분: </span>
                    </div>
                    <div class="btnWrap">
                        <button type="button">취소하기</button>
                        <button type="button" @click="save();">등록하기</button>
                    </div>
                </el-dialog>
            </div>
        </v-form>
    </section>

    <template>
        <input @keyup="parentsList()" id="studentSearch" type="text" v-model="data.search" style="width: 600px; height: 40px;" placeholder="학부모 or 학생 검색"/>
        <v-simple-table dense fixed-header height="300px">
            <template v-slot:default >
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="row">이름</th>
                        <th style="text-align: center;" scope="row">번호</th>
                        <th style="text-align: center;" scope="row">학생 이름</th>
                        <th style="text-align: center;" scope="row">유형</th>
                        <th style="text-align: center;" scope="row">강의명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="parentsList in data.parents.parentsList" :key="parentsList.id">
                        <td>{{ parentsList .name }}</td>
                        <td>{{ parentsList.phoneNum }}</td>
                        <td>{{ parentsList.studentName }}</td>
                        <td>{{ parentsList.lectureType }}</td>
                        <td>{{ parentsList.lectureName }}</td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
    </template>
</div>