<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>사용자 관리</h1>
        </v-col>
    </v-row>
    <v-row dense>
        <v-col cols="12" sm="7">
            <v-card>
                <v-card-title style="display: list-item">
                    <div style="float: left;">사용자 목록</div>
                    <div style="float: right;">
                        <v-btn
                            color="primary"
                            :loading="btn.saveAccount.loading"
                            @click="downloadExcel();"
                        >엑셀다운로드</v-btn>
                    </div>
                </v-card-title>
                <v-card-title>
                    <v-col cols="12" sm="4">
                        <v-select
                            label="역할"
                            v-model="data.query.roleId"
                            :items="select.roles.items"
                            item-text="text"
                            item-value="value"
                            dense
                            hide-details
                            outlined
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-select
                            label="상태"
                            v-model="data.query.status"
                            :items="select.status.items"
                            item-text="text"
                            item-value="value"
                            dense
                            hide-details
                            outlined
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-text-field
                            autocomplete="off"
                            dense
                            label="이름"
                            validate-on-blur
                            hide-details="auto"
                            v-model="data.query.name"
                        ></v-text-field>
                    </v-col>
                </v-card-title>
                <v-card-text>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <v-col class="text-right pa-0 ma-0">
                            <v-icon style="color: #1DDB16;">mdi-circle-medium</v-icon>사용
                            <v-icon style="color: #FFE400;">mdi-circle-medium</v-icon>정지
                            <v-icon style="color: red;">mdi-circle-medium</v-icon>삭제
                        </v-col>
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="row">역할</th>
                                        <th class="text-center" scope="row">아이디</th>
                                        <th class="text-center" scope="row">이름</th>
                                        <th class="text-center" scope="row">닉네임</th>
                                        <th class="text-center" scope="row">상태</th>
                                        <th class="text-center" scope="row">가입일</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, i) in data.userList"
                                        :key="item.id"
                                        class="cursor--pointer"
                                        @click="clickUser(item.id)"
                                    >
                                        <template v-if="item.roleId === 1">
                                            <td class="text-center">최고관리자</td>
<!--                                             <td class="text-center"><v-icon>mdi-account-tie</v-icon></td> -->
                                        </template>
                                        <template v-if="item.roleId === 2">
                                            <td class="text-center">멘토</td>
<!--                                             <td class="text-center"><v-icon>mdi-fountain-pen-tip</v-icon></td> -->
                                        </template>
                                        <template v-if="item.roleId === 3">
                                            <td class="text-center">멘티</td>
<!--                                             <td class="text-center"><v-icon>mdi-book-open</v-icon></td> -->
                                        </template>
                                        <td class="text-center">{{item.username}}</td>
                                        <td class="text-center">{{item.name}}</td>
                                        <td class="text-center">{{item.nickname}}</td>
                                        <template v-if="statusNameList[item.status] === '삭제'">
                                            <td class="text-center"><v-icon style="color: red;">mdi-circle-medium</v-icon></td>
                                        </template>
                                        <template v-if="statusNameList[item.status] === '사용'">
                                            <td class="text-center"><v-icon style="color: #1DDB16;">mdi-circle-medium</v-icon></td>
                                        </template>
                                        <template v-if="statusNameList[item.status] === '정지'">
                                            <td class="text-center"><v-icon style="color: #FFE400;">mdi-circle-medium</v-icon></td>
                                        </template>
                                        <td class="text-center">{{item.createdDate}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12" sm="5">
            <v-card>
                <v-card-title>사용자 상세</v-card-title>
                <v-card-text>
                    <v-form ref="form">
                        <v-row dense>
                            <v-col cols="12">
                                <v-text-field
                                    autocomplete="off"
                                    dense
                                    outlined
                                    label="아이디"
                                    validate-on-blur
                                    maxlength="100"
                                    counter
                                    hide-details="auto"
                                    v-model="data.user.username"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    label="이름"
                                    maxlength="30"
                                    counter
                                    validate-on-blur
                                    hide-details="auto"
                                    v-model="data.user.name"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field
                                    dense
                                    outlined
                                    label="닉네임"
                                    validate-on-blur
                                    hide-details="auto"
                                    v-model="data.user.nickname"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <v-select
                                    label="거주지역"
                                    v-model="data.user.residenceCd"
                                    :items="select.residence.items"
                                    dense
                                    hide-details
                                    outlined
                                    :rules="[rules.required]"
                                ></v-select>
                            </v-col>
                            <v-col cols="6">
                                <v-select
                                    label="성별"
                                    v-model="data.user.gender"
                                    :items="select.gender.items"
                                    dense
                                    hide-details
                                    outlined
                                    :rules="[rules.required]"
                                ></v-select>
                            </v-col>
                            <v-col cols="6">
                                <v-select
                                    label="회원가입방법"
                                    readonly
                                    v-model="data.user.signUpWay"
                                    :items="select.signUpWay.items"
                                    dense
                                    hide-details
                                    outlined
                                ></v-select>
                            </v-col>
                            <v-col cols="12">
                                <picker-date-picker-component
                                    label="생년월일"
                                    dense
                                    v-model="data.user.birthDate"
                                    hide-details
                                    outlined
                                    :rules="[rules.required]"
                                ></picker-date-picker-component >
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    label="휴대폰번호"
                                    validate-on-blur
                                    hide-details="auto"
                                    v-model="data.user.phoneNum"
                                    :rules="[rules.required]"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    label="가입일"
                                    readonly
                                    validate-on-blur
                                    hide-details="auto"
                                    v-model="data.user.createdDate"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-card>
                                    <v-card-title>역할</v-card-title>
                                    <v-card-text>
                                        <div style="max-height: 500px; overflow-y: auto;">
                                            <template>
                                                <v-radio-group v-model="role.roleSelected">
                                                    <v-radio
                                                      v-for="n in role.dataTable.items"
                                                      :key="n.id"
                                                      :label="`${n.name}`"
                                                      :value="n.id"
                                                    ></v-radio>
                                                </v-radio-group>
                                            </template>
                                        </div>
                                    </v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-card>
                                    <v-card-title>사용여부</v-card-title>
                                    <v-radio-group
                                        v-model="data.user.status"
                                        row
                                        mandatory
                                        class="pl-3"
                                    >
                                        <v-radio
                                            label="사용"
                                            value="T"
                                        ></v-radio>
                                        <v-radio
                                            label="정지"
                                            value="S"
                                        ></v-radio>
                                        <v-radio
                                            label="삭제"
                                            value="D"
                                        ></v-radio>
                                    </v-radio-group>
                                </v-card>
                            </v-col>
                            <v-col cols="12" sm="6" v-if="teacher.flag">
                                <v-card>
                                    <v-card-title>멘토 인증여부</v-card-title>
                                    <v-radio-group
                                        v-model="data.user.teacherCertiYn"
                                        row
                                        @change="showRefuseReason();"
                                        mandatory
                                        class="pl-3"
                                    >
                                        <v-radio
                                            label="사용"
                                            value="Y"
                                        ></v-radio>
                                        <v-radio
                                            label="보류"
                                            value="N"
                                        ></v-radio>
                                        <v-radio
                                            label="거절"
                                            value="R"
                                        ></v-radio>
                                    </v-radio-group>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row v-if="teacher.flag && teacher.refuseFlag">
                            <v-col cols="12">
                                <v-textarea
                                    outlined
                                    rows="2"
                                    label="거절사유"
                                    v-model="data.user.refuseReason"
                                    hide-details="auto"
                                    maxlength="65535"
                                    counter
                                    :rules="[rules.required]"
                                  ></v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12" class="text-right">
                                <v-btn
                                    color="secondary"
                                    :loading="btn.saveAccount.loading"
                                    @click="clickUser('');"
                                >new</v-btn>
                                <v-btn
                                    color="primary"
                                    :loading="btn.saveAccount.loading"
                                    @click="saveAccount();"
                                >저장</v-btn>
                                <!--<v-btn
                                    color="success"
                                    :loading="btn.saveAccount.loading"
                                    @click="saveAccount();"
                                >수정</v-btn>-->
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</div>