<div>
    <section>
        <v-form ref="form" onsubmit="return false">
            <div>
                <button type="button" @click="visible.en = true;" style="width: 100px; height: 50px;">학부모 등록</button>
                <el-dialog
                    :visible.sync="visible.en"
                    title="학생 등록"
                >
                    <div class="boxGroup">
                        <span style="display: inline !important;">이름: </span>
                        <input id="name" type="text" v-model="data.parents.name" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">휴대폰 번호: </span>
                        <input id="phoneNum" type="text" v-model="data.parents.phoneNum" style="width: 200px; height: 40px;"/>
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">학생 이름: </span>
                        <input id="email" type="text" v-model="data.parents.studentName" ref = "email" placeholder="example@naver.com" />
                    </div>
                    <div class="boxGroup">
                        <span style="display: inline !important;">구분: </span>
                    </div>
                    <div class="btnWrap">
                        <button type="button">취소하기</button>
                        <button type="button" @click="save();">등록하기</button>
                    </div>
                </el-dialog>
            </div>
        </v-form>
    </section>
</div>