<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>공지사항 관리</h1>
        </v-col>
    </v-row>
    <v-row dense class="pb-3 text-end">
        <v-col cols="12">
            <v-btn depressed color="primary" @click="$router.push('/settings/board/detail')">등록</v-btn>
        </v-col>
    </v-row>
    <v-card class="pa-5">
        <v-card-title>
			<v-btn 
			    class="mr-2"
			    v-for="code in codeBtnList"
			    outlined
			    :color="getColor(code.value)"
			    @click="selectCode(code.value)">
			    {{ code.name }}
			</v-btn>
        </v-card-title>
	    <v-card-title>
	      <v-text-field
	        v-model="search"
	        append-icon="mdi-magnify"
	        label="Search"
	        single-line
	        hide-details
	      ></v-text-field>
	    </v-card-title>
		<v-data-table
		  :headers="headers"
		  :items="board"
		  :search="search"
		  class="elevation-1"
		  @click:row="noticeDetail($event)"
		>
		  <template v-slot:item.kindsNm ="{ item }">
		    <v-chip
		      outlined
		      :color="getColor(item.kindsCd)"
		    >
		      {{ item.kindsNm }}
		    </v-chip>
		  </template>
		</v-data-table>
    </v-card>
</div>