<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>코드 관리</h1>
        </v-col>
    </v-row>
    <v-row dense>
        <v-col cols="12" sm="6">
            <v-card>
                <v-card-title>코드 목록</v-card-title>
                <v-card-text>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <v-treeview
                            dense
                            activatable
                            return-object
                            :items="treeview.codeList.items"
                            :active.sync="treeview.codeList.active"
                        >
                            <template v-slot:prepend="{ item, open }">
                                <template v-if="item.childrenCount > 0">
                                    <template v-if="open">
                                        <v-icon>mdi-folder-open</v-icon>
                                    </template>
                                    <template v-else>
                                        <v-icon>mdi-folder</v-icon>
                                    </template>
                                </template>
                                <template v-else>
                                    <v-icon>mdi-file</v-icon>
                                </template>
                            </template>
                            <template v-slot:label="{ item }">
                                <div style="cursor: pointer;">{{ item.name + ' (순위 : ' + item.orderNo + ')' }}</div>
                            </template>
                        </v-treeview>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12" sm="6">
            <v-card>
                <v-card-title>코드 상세</v-card-title>
                <v-card-text>
                    <v-form>
                        <v-row dense>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    clearable
                                    label="이름"
                                    hide-details="auto"
                                    v-model="data.code.name"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-autocomplete
                                    dense
                                    outlined
                                    clearable
                                    hide-no-data
                                    label="부모 이름"
                                    hide-details="auto"
                                    item-text="namePath"
                                    item-value="id"
                                    :items="autocomplete.parentId.items"
                                    v-model="data.code.parentId"
                                ></v-autocomplete>
                            </v-col>
                            <v-col cols="12">
                                <v-textarea
                                    dense
                                    outlined
                                    clearable
                                    label="설명"
                                    hide-details="auto"
                                    v-model="data.code.description"
                                ></v-textarea>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    clearable
                                    label="값"
                                    hide-details="auto"
                                    v-model="data.code.value"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    dense
                                    outlined
                                    clearable
                                    label="순위"
                                    type="number"
                                    hide-details="auto"
                                    v-model="data.code.orderNo"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-select
                                    dense
                                    outlined
                                    label="사용여부"
                                    hide-details="auto"
                                    :items="[{'text': '선택', 'value': null},{'text': '사용', 'value': 'T'},{'text': '사용안함', 'value': 'F'}]"
                                    v-model="data.code.status"
                                ></v-select>
                            </v-col>
                        </v-row>
                        <v-row dense>
                            <v-col cols="12" class="text-right">
                                <v-btn
                                    color="secondary"
                                    @click="data.code = {}; treeview.codeList.active = [];"
                                >신규</v-btn>
                                <v-btn
                                    color="primary"
                                    :loading="btn.saveCode.loading"
                                    @click="saveCode();"
                                >저장</v-btn>
                                <v-btn
                                    v-if="!!data.code.id"
                                    color="error"
                                    :loading="btn.removeCode.loading"
                                    @click="removeCode();"
                                >삭제</v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</div>