<div class="ma-3">
    <v-row dense>
        <v-col>
            <h2>메세지 보내기</h2>
            <p>연동괸 연락처로 학생, 학부모에게 단체문자 혹은 개별문자를 전송하세요.</p>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12" sm="6">
            <v-card>
                <v-card-title style="display: list-item">
                    <div style="float: left;">지정된 양식 선택</div>
                </v-card-title>
                <v-card-text>
                    <div style="border: 1px solid; height: 50px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nibh facibus laoreet vulputate parturient id.
                    </div>
                    <div style="border: 1px solid; height: 50px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nibh facibus laoreet vulputate parturient id.
                    </div>
                    <div style="border: 1px solid; height: 50px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nibh facibus laoreet vulputate parturient id.
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12" sm="6">
            <div style="float: left;">대상 고객 선택</div>
            <div style="width: 100%; height: 200px; overflow: auto;">
	            <div style="border: 1px solid;">
	                <div style="float: left;">학생 리스트</div>
                    <v-checkbox style="float: right;">
                      <template v-slot:label>
                        <div> 전체 선택 </div>
                      </template>
                    </v-checkbox>
		            <template v-for="studentList in data.studentList">
					    <v-checkbox>
					      <template v-slot:label>
					        <div>
					          {{studentList.name}}  {{studentList.phoneNum}}
					        </div>
					      </template>
					    </v-checkbox>
		            </template>
	            </div>
            </div>
            <!-- <v-card>
                <v-card-title>대상 고객 선택</v-card-title>
                <v-card-text>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="row">학생 리스트</th>
                                        <th class="text-center" scope="row"><v-checkbox></v-checkbox>전체선택</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="studentList in data.studentList"
                                        class="cursor--pointer"
                                    >
                                        <td class="text-center">{{studentList.name}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </v-card-text>
            </v-card> -->
        </v-col>
    </v-row>
</div>