<div class="zclassWrap zclassMain" style="padding:130px;">
	<div style="height:250px;">
    </div>
    
    <!-- room 추가 -->
    <el-dialog 
        title="사용자 정보 입력"
        class="signUpWrap profileEditWrap"
        :visible.sync="visible.userInfoVisible" 
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        >
        <div class="contents">
            <v-row dense style="justify-content: center;">
                <v-col style="text-align: center;">
					<el-radio v-model="data.user.type" label="S" border>학생</el-radio>
					<el-radio v-model="data.user.type" label="P" border>학부모</el-radio>
                </v-col>
            </v-row>
            <v-row dense style="justify-content: center;">
                <v-col cols="8">
                    <v-text-field
                      label="이름"
                      maxlength ="10"
                      v-model="data.user.name"
                      @blur="validateChk('name');"
                    ></v-text-field>
                    <p :show="!flag.nameFlag" class="validationMessage" style="color: red;">{{ flag.nameText }}</p>
                </v-col>
                <v-col cols="8">
			        <v-select
			          dense
			          :items="select.grade"
                      v-model="data.user.grade"
			          label="학년"
                      @change="validateChk('grade');"
			        ></v-select>
                    <span style="font-size:12px;align-self:left;">*학부모의 경우, 자녀의 학년을 선택해주세요</span>
                    <p :show="!flag.gradeFlag" class="validationMessage" style="color: red;">{{ flag.gradeText }}</p>
                </v-col>
<!--             </v-row> -->
<!--             <v-row dense style="justify-content: center;"> -->
                <v-col cols="8">
                    <v-text-field
                      label="이메일"
                      maxlength ="50"
                      v-model="data.user.email"
                      @blur="validateChk('email');"
                    ></v-text-field>
                    <p :show="!flag.emailFlag" class="validationMessage" style="color: red;">{{ flag.emailText }}</p>
                </v-col>
<!--             </v-row> -->
<!--             <v-row dense style="justify-content: center;"> -->
                <v-col cols="8">
                    <v-text-field
                      label="전화번호"
                      maxlength ="11"
                      v-model="data.user.phoneNum"
                      @blur="validateChk('phone');"
                    ></v-text-field>
                    <p :show="!flag.phoneFlag" class="validationMessage" style="color: red;">{{ flag.phoneText }}</p>
                </v-col>
            </v-row>
            <div class="btnWrap">
                <button type="button" @click="enter()">입장하기</button>
                <button type="button">취소하기</button>
            </div>
        </div>
    </el-dialog>
</div>