<div class="ma-3">
    <v-row dense>
        <v-col>
            <h1>강사별 매출 내역</h1>
        </v-col>
    </v-row>
    <v-row dense>
        <v-col cols="12" sm="4">
            <v-card>
                <v-card-title>강사 목록</v-card-title>
                <v-card-title>
                    <el-row>
                        <el-col :span="12" style="padding: 3px;">
                            <el-input
                              placeholder="아이디"
                              v-model="search.username"
                              clearable>
                            </el-input>
                        </el-col>
                        <el-col :span="12" style="padding: 3px;"> 
                            <el-input
                              placeholder="이름"
                              v-model="search.name"
                              clearable>
                            </el-input>
                        </el-col>
                    </el-row>
                </v-card-title>
                <v-card-text>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="row">아이디</th>
                                        <th class="text-center" scope="row">이름</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        v-for="(item, i) in data.userList"
                                        :key="item.id"
                                        class="cursor--pointer"
                                        @click="clickUser(item.id, item.name)"
                                    >
                                        <td class="text-center">{{item.username}}</td>
                                        <td class="text-center">{{item.name}}</td>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
        <v-col cols="12" sm="8" v-if="data.clickUser.id">
            <v-card>
                <v-card-title>{{ data.clickUser.name }} 강사님의 매출내역</v-card-title>
                <el-container>
				    <el-main>
				    <el-row>
				        <el-col>
				            <font style="font-weight: bolder; font-size: larger;">누적 매출 {{gatherSales !== "null" ? ': ' + gatherSales + '원' : ': - ' + '원'}}</font>
				        </el-col>
				    </el-row>
				        <el-row style="padding-top: 15px; padding-bottom: 25px;">
				            <el-col>
				                <el-card>
				                    <div slot="header" class="clearfix">
				                        <el-row>
				                            <el-col :span="4" style="text-align: center; padding-top: 7px;">
				                               <font style="font-weight: bolder;">{{ month }} 매출</font>
				                            </el-col>
				                            <el-col :span="4">
				                                <el-date-picker
				                                  v-model="select.month"
				                                  type="month"
				                                  size="small"
				                                  placeholder="날짜선택">
				                                </el-date-picker>
				                            </el-col>
				                        </el-row>
				                    </div>
				                    
				                    <el-row v-if="salesList.length === 0" style="text-align: center; padding: 50px;">
				                        <el-col><h2>선택한 날짜에 해당되는 매출내역이 없습니다.</h2></el-col>
				                    </el-row>
				                    <template v-else>
				                        <el-row style="text-align: center;">
				                            <el-col :span="3"><h2>날짜</h2></el-col>
				                            <el-col :offset="3" :span="3"><h2>직접 등록 매출</h2></el-col>
				                            <el-col :offset="6" :span="3"><h2>결제 매출</h2></el-col>
				                            <el-col :offset="3" :span="3"><h2>날짜별 합계</h2></el-col>
				                        </el-row>
				                        <el-row style="text-align: center; padding-top: 10px;" v-for=" i in salesList">
				                            <el-col :span="3">{{ i.salesDate }}</el-col>
				                            <el-col :offset="3" :span="3">{{ i.salesMoney === "0" ? '-' : i.salesMoney + "원"}}</el-col>
				                            <el-col :offset="6" :span="3">{{ i.paymentMoney === "0" ? '-' : i.paymentMoney + "원"}}</el-col>
				                            <el-col :offset="3" :span="3">{{ i.dayTotalMoney === "0" ? '-' : i.dayTotalMoney + "원" }}</el-col>
				                        </el-row>
				                        <el-row style="text-align: center; padding-top: 20px;">
				                            <el-col :span="3"><h2>Total</h2></el-col>
				                            <el-col :offset="3" :span="3">{{ total.sales + "원" }}</el-col>
				                            <el-col :offset="6" :span="3">{{ total.payment + "원" }}</el-col>
				                            <el-col :offset="3" :span="3">{{ total.days +"원" }}</el-col>
				                        </el-row>
				                    </template>
				                </el-card>
				            </el-col>
				        </el-row>
				        <el-row style="padding-top: 15px;">
				            <el-col>
				                <el-card>
				                    <div slot="header" class="clearfix">
				                        <el-row>
				                            <el-col :span="2" style="text-align: center; padding-top: 7px;">
                                               <font style="font-weight: bolder;">월별 매출</font>
				                            </el-col>
				                            <el-col :span="4">
				                                <el-date-picker
				                                    size="small"
				                                    v-model="select.monthTerm"
				                                    type="monthrange"
				                                    value-format="yyyy-MM"
				                                    range-separator="~"
				                                    start-placeholder="시작"
				                                    end-placeholder="종료">
				                                  </el-date-picker>
				                            </el-col>
				                        </el-row>
				                    </div>
				                    <el-row v-if="monthTotalList.length === 0" style="text-align: center; padding: 50px;">
				                        <el-col><h2>선택한 달에 해당되는 매출내역이 없습니다.</h2></el-col>
				                    </el-row>
				                    <el-row v-else style="text-align: center; padding: 15px;" v-for="item in monthTotalList">
				                        <el-col :span="3">{{ item.month }}</el-col>
				                        <el-col :offset="3" :span="3">총 매출</el-col>
				                        <el-col :span="3">{{ item.monthTotal + "원" }}</el-col>
				                    </el-row>
				                </el-card>
				            </el-col>
				        </el-row>
				    </el-main>
                    </el-container>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</div>