<div class="banner">
    <div class="container">
        <button type="button" @click="openUserInfoDialog">팝업</button>

        <el-dialog
            title="정보입력"
            :visible.sync="visible.userInfoDialog"
            class="pop-wrap leacture-pop-wrap"
            width="40%"
            center>
            <form action="" method="GET">
                <div class="content">
                    <label for="lectureName">이름</label>
                    <input type="text" name="name" id="name" v-model="data.modifyUser.name" placeholder="강의실 이름">
                </div>
                <div class="content">
                    <label for="lectureType">전화번호</label>
                    <input type="text" name="phoneNum" id="phoneNum" v-model="data.modifyUser.phoneNum" placeholder="강의실 이름">
                </div>
                <div class="content">
                    <label for="bankCd">은행코드</label>
                    <select name="bankCd" id="bankCd" v-model="data.modifyUser.bankCd">
                        <option value="">은행을 선택하세요</option>
                        <template v-for="item in select.bankList">
                            <option :value="item.value">{{item.text}}</option>
                        </template>
                    </select>
                </div>
                <div class="content">
                    <label for="lectureType">계좌번호</label>
                    <input type="text" name="accountNum" id="accountNum" v-model="data.modifyUser.accountNum" placeholder="강의실 이름">
                </div>
                <div class="btn-group">
                    <button class="cancel-btn" type="button" @click="visible.userInfoDialog = false;">취소하기</button>
                    <button class="main-btn create-btn" type="button" @click="modifyUserInfo">생성하기</button>
                </div>
            </form>
        </el-dialog>
        <!-- //강의생성 팝업 -->
    </div>
</div>