<div style="max-width: 1200px; margin: 15px auto; padding: 50px 15px;">
    <div style="padding: 20px;">
        <h2>결제 취소</h2>
        <h5>OO 내에서 결제 취소, 환불한 내력이 표시되며 매주 월요일 업데이트 됩니다</h5>
        <h5>*카드 취소는 7영업일 이내에 환불이 되며 카드사에 따라 달라질 수 있습니다</h5>
    </div>
    <div style="padding: 20px;">
        <span style="padding: 5px;">조회 기간</span> 
        <el-date-picker
            v-model="data.startDateSearch"
            value-format = "yyyy-MM-dd"
            type="date"
            placeholder="날짜 선택">
        </el-date-picker>
        ~
        <el-date-picker
            v-model="data.endDateSearch"
            value-format = "yyyy-MM-dd"
            type="date"
            placeholder="날짜 선택">
        </el-date-picker>
        <el-button @click="searchDate()" type="primary">검색</el-button>
        <el-button @click="initDate()">초기화</el-button>
    </div>
    <v-data-table
        :headers="headers"
        :items="data.paymentList"
    >
    </v-data-table>
</div>