<div>
    <div style="padding:10px; max-width: 1200px; margin: 0 auto;">
        <button type="button" class="main-btn color-white" @click="openLectureDialog">강의실 생성하기</button>
        <el-divider content-position="left"><h1>실시간 강의실 List</h2></el-divider>
        <v-row v-if="data.user.id">
            <v-col style="text-align: end;">
                <font style="font-size:12px;">
                    *<span style="color:red;">빨간 선 표시</span>는 <b>참여중인 강의실</b>을 표시합니다.
                </font>
            </v-col>
        </v-row>
        <v-row>
            <template v-for="item in realTimeClassList">
                <v-col cols="3">
                    <v-card
                      class="mx-auto"
                      style="margin: 10px; min-width: 200px;"
                      :style= "item.enterYn ? 'border: double; border-color: red;': ''"
                      @click="$router.push({'path': '/classroom/detail', 'query': {'id': item.id}})"
                    >
                        <v-img
                          :src="item.profileSrc"
                          height="200px"
                        ></v-img>
                        <v-card-subtitle style="padding-bottom:0px;"> {{ item.createdByNm +"강사님"}}</v-card-subtitle>
                        <v-card-title style="padding-top:0px;">{{ item.title }}</v-card-title>
                    </v-card>
                </v-col>
            </template>
        </v-row>
    </div>
<!--     <div style="padding:10px; max-width: 1200px; margin: 0 auto;"> -->
<!--         <el-divider content-position="left"><h1>일반 강의실 List</h2></el-divider> -->
<!--         <v-row v-if="data.user.id"> -->
<!--             <v-col style="text-align: end;"> -->
<!--                 <font style="font-size:12px;"> -->
<!--                     *<span style="color:red;">빨간 선 표시</span>는 <b>참여중인 강의실</b>을 표시합니다. -->
<!--                 </font> -->
<!--             </v-col> -->
<!--         </v-row> -->
<!--         <v-row> -->
<!--             <template v-for="item in normalClassList"> -->
<!--                 <v-col cols="3"> -->
<!--                     <v-card -->
<!--                       class="mx-auto" -->
<!--                       style="margin: 10px; min-width: 200px;" -->
<!--                       :style= "item.enterYn ? 'border: double; border-color: red;': ''" -->
<!--                       @click="$router.push({'path': '/classroom/detail', 'query': {'id': item.id}})" -->
<!--                     > -->
<!--                         <v-img -->
<!--                           :src="item.profileSrc" -->
<!--                           height="200px" -->
<!--                         ></v-img> -->
<!--                         <v-card-subtitle style="padding-bottom:0px;"> {{ item.createdByNm +"강사님"}}</v-card-subtitle> -->
<!--                         <v-card-title style="padding-top:0px;">{{ item.title }}</v-card-title> -->
<!--                     </v-card> -->
<!--                 </v-col> -->
<!--             </template> -->
<!--         </v-row> -->
<!--     </div> -->

    <el-dialog
        title="강의실 생성"
        :visible.sync="visible.lectureDialog"
        class="pop-wrap leacture-pop-wrap"
        width="40%"
        center>
        <h4>줌을 연동하여 오프라인 강의를 진행해 보세요.</h4>
        <form action="" method="GET">
            <div class="content file-cont">
                <input type="file" ref="thumbnail" accept="image/*" style="display:none;" @change="thumbFile($event);" />
                <img :src="data.classRoom.thumbnailSrc" alt="" @click="$refs.thumbnail.click();">
            </div>
            <div class="content" style="text-align: right; display: flow-root;">
                <button type="button" class="main-btn" @click="$refs.thumbnail.click();">이미지 변경</button>
            </div>
            <div class="content">
                <label for="lectureName">강의</label>
                <input type="text" name="lectureName" id="lectureName" v-model="data.classRoom.title" placeholder="강의실 이름">
            </div>
            <div class="content">
                <label for="lectureType">유형</label>
                <select name="lectureType" id="lectureType" v-model="data.classRoom.categoryId">
                    <option value="">유형</option>
                    <template v-for="item in data.categoryList">
                        <option :value="item.id">{{item.text}}</option>
                    </template>
                </select>
            </div>
            <div class="content" v-if="data.classRoom.categoryId == '23'">
                <input type="text" name="etc" id="etc" v-model="data.classRoom.etc" placeholder="기타 이름">
            </div>
            <div class="content">
                <label for="lecturePersonnel">인원설정</label>
                <select name="lecturePersonnel" id="lecturePersonnel" v-model="data.classRoom.memberNum">
                    <option value="">인원을 선택하세요</option>
                    <template v-for="item in data.numberList">
                        <option :value="item">{{item}}</option>
                    </template>
                </select>
            </div>
            <div class="btn-group">
                <button class="cancel-btn" type="button" @click="visible.lectureDialog = false;">취소하기</button>
                <button class="main-btn create-btn" type="button" @click="createClassRoom">생성하기</button>
            </div>
        </form>
    </el-dialog>
    <!-- //강의생성 팝업 -->
</div>
