<el-container style="border: 1px solid #eee; margin: 0px !important;">
	<el-aside width="30%">
		<el-tabs type="card" @tab-click="handleClick">
			<el-tab-pane v-for="tab in tabList" :label="tab" style="text-align: center;">
			    <el-row>
			        <el-col :span="8" style="padding: 5px;">
						<el-select v-model="select.type" clearable placeholder="UserType">
						  <el-option
						    v-for="item in userType"
						    :key="item.value"
						    :label="item.label"
						    :value="item.value">
						  </el-option>
						</el-select>
					</el-col>
                    <el-col :span="16" style="padding: 5px;">
                        <el-input
						  placeholder="Search"
						  suffix-icon="el-icon-search"
						  v-model="search"
						  @keydown.native.enter="searchName();">
						</el-input>
                    </el-col>
				</el-row>
                <el-row style="padding-top: 10px;">
                    <el-col style="padding: 5px;" v-for="i in rooms">
                        <el-card shadow="hover" :style="i.id === roomId ? 'border: double #D1B2FF;':''" @click.native="setSelect(i)">
                            <el-row>
                                <el-col :span="4">
                                    <el-avatar :src="i.avatar"></el-avatar>
                                </el-col>
                                <el-col :span="20">
                                    <el-row>
		                                <el-col :span="14">
		                                    {{ i.lecturerNm }}
		                                </el-col>
		                                <el-col :span="10">
                                            <font style="font-size: smaller; color: dimgray;">{{ i.lastMsgDate !== null ? i.lastMsgDate : '' }}</font>
		                                </el-col>
                                    </el-row>
                                    <el-row style="padding-top: 10px">
                                        <el-col :span="14">
                                            <font style="font-size: smaller;">{{ i.lastMsgContent !== null ? i.lastMsgContent : '' }}</font>
                                        </el-col>
                                        <el-col :span="10">
	                                        <el-tag
	                                          v-if="status === 'N' && i.lastMsgSenderId !== currentUserId"
											  type="success"
											  effect="plain">
											  답변 필요
											</el-tag>
                                        </el-col>
                                    </el-row>
                                </el-col>
                            </el-row>
						</el-card>
                    </el-col>
                </el-row>
			</el-tab-pane>
		</el-tabs>
	</el-aside>
	<el-container width="70%" style="margin: 0px !important;">
		<div style="width: 100%;">
			<vue-advanced-chat 
				height="100vh" 
				show-add-room="false"
				:show-footer="status === 'N' ? 'true' : 'false'"
				:current-user-id="currentUserId" 
				:messages-loaded="messagesLoaded"
				:room-id="roomId"
				:rooms-loaded="roomsLoaded"
				:single-room="true"
				:menu-actions="menuActions"
				@menu-action-handler="menuActionHandler"
				@fetch-messages="fetchMessages"
				@send-message="sendMessage"
				@edit-message="editMessage"
				@delete-message="deleteMessage"
				@notice-message="noticeMessage"
				@open-file="openFile" />
		</div>
	</el-container>
</el-container>
