<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.ClassRoomChatNoticeMapper">

    <sql id="selectFrom">
        SELECT
            `classroom_chat_notice`.`classroom_id`,
            `classroom_chat_notice`.`message_id`,
            `classroom_chat_notice`.`created_date`
        FROM
            `tb_classroom_chat_notice` `classroom_chat_notice`
    </sql>

    <sql id="where">
        <where>
            <if test="classRoomChatNoticeParamDto.classroomId != null and classRoomChatNoticeParamDto.classroomId !=''">
                AND `classroom_chat_notice`.`classroom_id` = #{classRoomChatNoticeParamDto.classroomId}
            </if>
        </where>
    </sql>

    <resultMap id="classRoomChatNoticeResultMap" type="kr.supporti.api.common.entity.ClassRoomChatNoticeEntity">
        <result property="classroomId" column="classroom_id"/>
        <result property="messageId" column="message_id"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select
        id="selectClassRoomChatNoticeList"
        parameterType="java.util.Map"
        resultMap="classRoomChatNoticeResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectClassRoomChatNoticeListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

</mapper>