<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.FindMapper">

    <sql id="selectFrom">
        SELECT
            `user`.`id`,
            `user`.`name`,
            `user`.`username`,
            `user`.`password`,
            `user`.`status`,
            `user`.`phone_num`,
            `user`.`sign_up_way`,
            `user`.`last_modified_password_date`,
            `user`.`created_date`,
            `user`.`last_modified_date`
        FROM
            `tb_user` `user`
    </sql>

    <resultMap id="userResultMap" type="kr.supporti.api.common.entity.UserEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="signUpWay" column="sign_up_way"/>
        <result property="lastModifiedPasswordDate" column="last_modified_password_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <select
        id="selectUser"
        parameterType="java.util.Map"
        resultMap="userResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`username` = #{username}
    </select>

    <select
        id="selectFindUser"
        parameterType="java.util.Map"
        resultMap="userResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`id` = #{id}
    </select>


</mapper>