<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.StudentMapper">

    <sql id="selectFrom">
        SELECT
            `lecturer_student`.`id`,
            `lecturer_student`.`student_id`,
            `lecturer_student`.`name`,
            `lecturer_student`.`phone_num`,
            `lecturer_student`.`email`,
            `lecturer_student`.`gender`,
            `lecturer_student`.`education_cd`,
            `lecturer_student`.`lecture_type`,
            `lecturer_student`.`lecture_name`,
            `lecturer_student`.`start_date`,
            `lecturer_student`.`end_date`,
            `lecturer_student`.`lecture_num`,
            `lecturer_student`.`created_by`,
            `lecturer_student`.`created_date`,
            `lecturer_student`.`last_modified_date`,
            (SELECT `invite_student`.`link_yn` FROM `tb_invite_student` `invite_student` WHERE `invite_student`.`student_id` = `lecturer_student`.`student_id`) `linkYn`,
            (SELECT `code`.`name` FROM `tb_code` `code` WHERE `code`.`value` = `lecturer_student`.`education_cd`) `studentCode`
        FROM
            `tb_lecturer_student` `lecturer_student`
            
    </sql>

    <sql id="where">
        <where>
            <if test="studentDto.name != null and studentDto.name != ''">
                AND `lecturer_student`.`name` LIKE CONCAT('%', #{studentDto.name}, '%')
            </if>
            <if test="studentDto.id != null and studentDto.id != ''">
                AND `lecturer_student`.`id` = #{studentDto.id}
            </if>
            <if test="studentDto.createdBy != null and studentDto.createdBy != ''">
                AND `lecturer_student`.`created_by` = #{studentDto.createdBy}
            </if>
        </where>
    </sql>
    
    <resultMap id="studentResultMap" type="kr.supporti.api.common.entity.StudentEntity">
        <result property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="educationCd" column="education_cd"/>
        <result property="lectureType" column="lecture_type"/>
        <result property="lectureName" column="lecture_name"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="lectureNum" column="lecture_num"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <select
        id="insertStudent"
        parameterType="java.util.Map"
        resultMap="studentResultMap"
    >
	        INSERT
                `tb_lecturer_student` (student_id, name, phone_num, email, gender, lecture_type, lecture_name, created_by, created_date, last_modified_date)
	        VALUE 
	            (#{studentDto.studentId}, #{studentDto.name}, #{studentDto.phoneNum}, #{studentDto.email}, null, null, #{studentDto.lectureName}, #{studentDto.createdBy}, NOW(), NOW())
    </select>
    
    <select
        id="selectStudentList"
        parameterType="java.util.Map"
        resultMap="studentResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectStudentListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectStudent"
        parameterType="java.util.Map"
        resultMap="studentResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `lecturer_student`.`id` = #{id}
    </select>
    
    <update
        id="updateStudentInfo"
        parameterType="java.util.Map">
        UPDATE `tb_lecturer_student` `lecturer_student`
        <set>
            <if test="studentDto.phoneNum != null and studentDto.phoneNum != ''">
                `lecturer_student`.`phone_num` = #{studentDto.phoneNum},
            </if>
            <if test="studentDto.email != null and studentDto.email != ''">
                `lecturer_student`.`email` = #{studentDto.email},
            </if>
            <if test="studentDto.gender != null and studentDto.gender != ''">
                `lecturer_student`.`gender` = #{studentDto.gender},
            </if>
            <if test="studentDto.educationCd != null and studentDto.educationCd != ''">
                `lecturer_student`.`education_cd` = #{studentDto.educationCd},
            </if>
            <if test="studentDto.lectureType != null and studentDto.lectureType != ''">
                `lecturer_student`.`lecture_type` = #{studentDto.lectureType},
            </if>
            <if test="studentDto.lectureName != null and studentDto.lectureName != ''">
                `lecturer_student`.`lecture_name` = #{studentDto.lectureName},
            </if>
            <if test="studentDto.startDate != null and studentDto.startDate != ''">
                `lecturer_student`.`start_date` = #{studentDto.startDate},
            </if>
            <if test="studentDto.endDate != null and studentDto.endDate != ''">
                `lecturer_student`.`end_date` = #{studentDto.endDate},
            </if>
            <if test="studentDto.lectureNum != null and studentDto.lectureNum != ''">
                `lecturer_student`.`lecture_num` = #{studentDto.lectureNum},
            </if>
        </set>
        WHERE
            `lecturer_student`.`id` = #{id}
    </update>
    
    <update
        id="updateStudentWeekInfo"
        parameterType="java.util.Map">
        UPDATE `tb_lecturer_student` `lecturer_student`
        <set>
            <if test="studentDayDto.startDate != null">
                `lecturer_student`.`start_date` = #{studentDayDto.startDate},
            </if>
            <if test="studentDayDto.endDate != null">
                `lecturer_student`.`end_date` = #{studentDayDto.endDate},
            </if>
        </set>
        WHERE
            `lecturer_student`.`id` = #{studentDayDto.lecturerStudentId}
    </update>
</mapper>