<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.supporti.api.common.mapper.UserMapper">

    <sql id="selectFrom">
        SELECT
            `user`.`id`,
            `role_user`.`role_id`,
            (SELECT `role`.`name` FROM `tb_role` `role` WHERE `role`.`id` = `role_user`.`role_id`) `role_name`,
            `user`.`name`,
            `user`.`username`,
            `user`.`password`,
            `user`.`status`,
            `user`.`phone_num`,
            `user`.`bank_cd`,
            (SELECT `name` FROM `tb_code` `code` WHERE `code`.`value` = `user`.`bank_cd` AND `code`.`parent_id` = 50) AS `bank_name`,
            `user`.`account_num`,
            `user`.`payment_general`,
            `user`.`profile_id`,
            `user`.`sign_up_way`,
            `user`.`last_modified_password_date`,
            `user`.`lecturer_approval_yn`,
            `user`.`created_date`,
            `user`.`last_modified_date`
        FROM
            `tb_user` `user`
        JOIN
            `tb_role_user` `role_user`
        ON
            `role_user`.`user_id` = `user`.`id`
    </sql>

    <sql id="where">
        <where>
            <if test="userParamDto.userId != null and userParamDto.userId !=''">
                AND `user`.`id` = #{userParamDto.userId}
            </if>
            <if test="userParamDto.roleId != null and userParamDto.roleId !=''">
                AND `role_user`.`role_id` = #{userParamDto.roleId}
            </if>
            <if test="userParamDto.username != null and userParamDto.username !=''">
                AND `user`.`username` LIKE CONCAT('%', #{userParamDto.username}, '%')
            </if>
            <if test="userParamDto.name != null and userParamDto.name !=''">
                AND `user`.`name` LIKE CONCAT('%', #{userParamDto.name}, '%')
            </if>
            <if test="userParamDto.signUpWay != null and userParamDto.signUpWay !=''">
                AND `user`.`sign_up_way` = #{userParamDto.signUpWay}
            </if>
            <if test="userParamDto.phoneNum != null and userParamDto.phoneNum !=''">
                AND `user`.`phone_num` = #{userParamDto.phoneNum}
            </if>
            <if test="userParamDto.status != null and userParamDto.status !=''">
                AND `user`.`status` = #{userParamDto.status}
            </if>
            <if test="userParamDto.lecturerApprovalYn != null and userParamDto.lecturerApprovalYn !=''">
                AND `user`.`lecturer_approval_yn` = #{userParamDto.lecturerApprovalYn}
            </if>
        </where>
    </sql>

    <resultMap id="userResultMap" type="kr.supporti.api.common.entity.UserEntity">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="phoneNum" column="phone_num"/>
        <result property="bankCd" column="bank_cd"/>
        <result property="bankName" column="bank_name"/>
        <result property="accountNum" column="account_num"/>
        <result property="paymentGeneral" column="payment_general"/>
        <result property="status" column="status"/>
        <result property="profileId" column="profile_id"/>
        <result property="signUpWay" column="sign_up_way"/>
        <result property="lastModifiedPasswordDate" column="last_modified_password_date"/>
        <result property="lecturerApprovalYn" column="lecturer_approval_yn"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <select
        id="selectUserList"
        parameterType="java.util.Map"
        resultMap="userResultMap"
    >
        <include refid="PageFragment.sortStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.sortEnd"/>
        <include refid="PageFragment.limitOffset"/>
    </select>

    <select
        id="selectUserListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="PageFragment.countStart"/>
        <include refid="selectFrom"/>
        <include refid="where"/>
        <include refid="PageFragment.countEnd"/>
    </select>

    <select
        id="selectUser"
        parameterType="java.util.Map"
        resultMap="userResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`id` = #{id}
    </select>

    <select
        id="selectUserByUsername"
        parameterType="java.util.Map"
        resultMap="userResultMap"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`username` = #{username}
    </select>

    <select
        id="selectUserExistsCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`username` = #{userParamDto.username}
        AND
            `user`.`sign_up_way` = #{userParamDto.signUpWay}
        AND
            `user`.`status` = 'T'
    </select>

    <select
        id="selectSmsUserListCount"
        parameterType="java.util.Map"
        resultType="java.lang.Integer"
    >
        <include refid="selectFrom"/>
        WHERE
            `user`.`username` = #{userParamDto.username}
        AND
            `user`.`status` = 'T'
    </select>

    <update
        id="updateUserInfo"
        parameterType="java.util.Map">
        UPDATE `tb_user` `user`
        <set>
            <if test="userDto.name != null and userDto.name != ''">
                `user`.`name` = #{userDto.name},
            </if>
            <if test="userDto.phoneNum != null and userDto.phoneNum != ''">
                `user`.`phone_num` = #{userDto.phoneNum},
            </if>
            <if test="userDto.bankCd != null and userDto.bankCd != ''">
                `user`.`bank_cd` = #{userDto.bankCd},
            </if>
            <if test="userDto.accountNum != null and userDto.accountNum != ''">
                `user`.`account_num` = #{userDto.accountNum},
            </if>
        </set>
        WHERE
            `user`.`id` = #{id}
    </update>
    
    <update
        id="approvalLecturer"
        parameterType ="java.util.Map"
    >
        UPDATE
            `tb_user` `user`
        SET
			`user`.`lecturer_approval_yn` = #{userEntity.lecturerApprovalYn}
        WHERE
            `user`.`id` = #{userEntity.id}
    </update>

    <update
        id="refuseLecturer"
        parameterType ="java.util.Map"
    >
        UPDATE
            `tb_user` `user`
        SET
			`user`.`username` = #{userEntity.username},
			`user`.`status` = #{userEntity.status},
			`user`.`lecturer_approval_yn` = #{userEntity.lecturerApprovalYn}
        WHERE
            `user`.`id` = #{userEntity.id}
    </update>

</mapper>