<div class="ma-3" style="margin-top: 100px; margin-bottom: 50px;">
    <v-row class="my-7">
        <v-col cols="12">
            <v-row>
                <v-col cols="1">
                    <p class="text-center">분류</p>
                </v-col>
                <v-col cols="8">
                    <template>
                        <div class="text-center" v-for="(item, i) in kindsCode.kinds" :key="i" style="display: inline !important; margin-right: 5px;">
                            <v-btn 
                              @click="data.kind = item.value" 
                              style="background-color: rgb(6,214,255); color: rgb(255,255,255);"
                            > {{item.name}} </v-btn>
                        </div>
                    </template>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
    <v-row class="my-7">
        <v-col cols="12">
            <v-row>
                <v-col cols="1" class="text-center">
                    <p class="text-center">검색어</p>
                </v-col>
                <v-col cols="2">
                    <v-text-field
                      v-model="data.search"
                      outlined
                      placeholder="제목 또는 내용"
                      @keydown.enter="loadNoticeList()"
                    ></v-text-field>
                    <v-btn 
                      style="background-color: rgb(6,214,255); color: rgb(255,255,255)"
                      @click="loadNoticeList()"
                    >검색
                    </v-btn>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
<!--     <v-row class="my-7">
        <v-col cols="12">
            <v-row>
                <v-col cols="6">
                    <h2>번호</h2>
                </v-col>
                <v-col cols="6">
                    <h2>제목</h2>
                </v-col>
            </v-row>
        </v-col>
    </v-row> -->
    <v-row class="pa-4">
        <v-col cols="12">
            <template>
                <v-data-table
                  fixed-header
                  hide-default-footer
                  height="auto"
                  :headers="notice.dataTable.headers"
                  :items="notice.dataTable.items"
                  :page="notice.dataTable.page"
                  :items-per-page="notice.dataTable.itemsPerPage"
                  @page-count="notice.pagination.length = $event;"
                  @click:row="noticeId($event)"
                >
                </v-data-table>
                <div>
                    <v-pagination
                      v-model="notice.dataTable.page"
                      :length="notice.pagination.length"
                      :total-visible="notice.pagination.length.totalVisible"
                    ></v-pagination>
                </div>
            </template> 
        </v-col>
        <v-col>
            <section style="margin-top: 50px;">
                <div class="vertical-center">
                    <template>
                        <v-expansion-panels focusable dense v-model="panels" style="overflow: auto; height: 500px;">
                            <v-expansion-panel v-for="(item, i) in notice.dataTable.items" :key="i" v-if="notice.dataTable.page * notice.dataTable.itemsPerPage > i && notice.dataTable.page * notice.dataTable.itemsPerPage - notice.dataTable.itemsPerPage - 1 < i">
                                <v-expansion-panel-header>
                                    <span style="text-align: start; width: 10%;">{{ item.id }}</span>
                                    <span style="text-align: start; color:rgb(255,0,0); width: 10%;">{{ item.recImportantYn }}</span>
                                    <span style="text-align: start; width: 80%;">{{ item.title }}</span>
                                </v-expansion-panel-header>
                                <v-expansion-panel-content class="my-3">
                                    <v-row
                                        class="ma-0 pa-0">
                                        <v-container
                                            class="ma-0 px-0 py-1"
                                            v-html="item.desc !== undefined && item.desc != null ? item.desc : ''">
                                        </v-container>
                                    </v-row>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </template>
                    <template>
                        <v-row style="margin-top: 20px; justify-content: center;">
                            <v-pagination
                              v-model="notice.dataTable.page"
                              :length="notice.pagination.length"
                              :total-visible="notice.pagination.length.totalVisible"
                            ></v-pagination>
                        </v-row>
                    </template>
                </div>
            </section>
        </v-col>
    </v-row>
</div>